
@{
    Layout = "~/Views/Shared/_AddComixLayout.cshtml";
   // Layout = null;
}
<br />
<div class="container" ng-app="ComixAdd">
    <div id="pages" ng-controller="pagesController">
        <div class="row form-group">
            <label class="col-md-2 control-label" for="Name">Name</label>
            <div class="col-md-4">
                <input class="form-control" data-val="true" data-val-required="Требуется поле Name." id="Name" name="Name" type="text" value="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <tags-input max-length="15" max-tags="10" ng-model="tags" required>
                    <auto-complete source="loadTags($query)"></auto-complete>
                </tags-input>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="controls col-md-6">
                <button ng-click="save()" class="btn btn-default btn-sm">Save</button>
            </div>
        </div>
        <hr />
        <div class="canvas-container clearfix">

            <script type="text/javascript">
                var initial_category_id = 5;
            </script>

            <!-- Meme slideshow -->
            <div id="image-picker">
                <ul></ul>
            </div>

            <!-- Meme save dialogue -->
            <!--
            <div id="save-dialog" title="Создать комикс" >
                <div>
                    <div id="save-result"></div>
                    <a href="javascript:void(0);" id="save-image">Share Comic</a> With title of <input id="comic-title" type="text" value="" />
                </div>
            </div>
            -->
            <!-- Brush options dialogue -->
            <div id="brush-dialog" title="Настройки рисования">
                <h3><span id="stroke-color">Цвет заливки</span></h3>
                <div>
                    <div id="stroke-color-picker"></div>
                </div>
                <h3>Размер кисти<div id="brush-size" class="accordion-amount"></div></h3>
                <div>
                    <div id="slider-brushsize" style="width: 200px;"></div>
                    <div id="brush-size-example" style="margin: 15px auto;"></div>
                </div>
            </div>

            <!-- Text options dialogue -->
            <div id="text-dialog" title="Настройки Текста">
                <h3>
                    <span id="fill-color">Цвет текста</span>
                </h3>
                <div id="fill-color-roller">
                    <div id="fill-color-picker"></div>
                </div>
                <h3>Шрифт / Размер<div id="font-size" class="accordion-amount"></div></h3>
                <div>
                    Шрифт текста:
                    <form action="#">
                        <select id="select-font">
                            <option value="Serif">Serif</option>
                            <option value="Impact">Impact</option>
                            <option value="Sans-serif">Sans-serif</option>
                            <option value="Monospace">Monospace</option>
                        </select>
                    </form>
                    Размер текста:
                    <div id="font-size-slider" style="width:200px; height: 5px;"></div>
                </div>
            </div>

            <!-- Image insert dialogue -->
            <div id="image-from-url-dialog" title="Загрузить картинку">
                <h5>Загрузить картинку с компьютера</h5>
                <input name="imagefile" id="imagefile" type="file" style="display: block; margin-bottom: 5px" size="50" />
                <a href="javascript:void(0);" class="btn primary small" id="get-image-file" style="background-color:gray">Загрузить картинку</a>
                <div class="result"></div>
                <!--<img id="loading" src="images/loading.gif" style="visibility: hidden"/>-->
            </div>

            <!-- Layers management dialogue -->
            <div id="layers-dialog" title="Управление слоями">
                <ol id="layers">
                    <li class="layers-template ui-widget-content"><input type="text" name="layer-name-input" class="layer-name-input" /></li>
                </ol>
                <div id="layer-tools">
                    <a href="javascript:void(0)" id="move-layer-up" class="btn btn-icon" title="Передвинуть вверх"><i class="icon-arrow-up"></i></a>
                    <a href="javascript:void(0)" id="move-layer-down" class="btn btn-icon" title="Передвинуть вниз"><i class="icon-arrow-down"></i></a>
                    <a href="javascript:void(0)" id="delete-layer" class="btn btn-icon" title="Удалить слой"><i class="icon-trash"></i></a>
                </div>
            </div>

            <!-- Rage Maker Toolbar & Canvas container -->
            <div id="rage-maker-container">

                <!-- Toolbar -->
                <div class="ragemaker-toolbar">
                    <div class="toolbar-inner" style="background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b5adad), to(#222222));">
                        <select id="select-image-group" style="margin-bottom: 0; color:black"></select>
                        <a href="javascript:void(0)" id="brush-dialog-open" title="Рисовать" class="btn"><i class="icon-pencil"></i></a>
                        <a href="javascript:void(0)" id="text-dialog-open" title="Вставить текст" class="btn"><i class="icon-font"></i></a>
                        <a href="javascript:void(0)" id="image-from-url-dialog-open" title="Вставить картинку" class="btn"><i class="icon-picture"></i></a>
                        <a href="javascript:void(0)" id="layers-dialog-open" title="Управление слоями" class="btn" style="margin-right:155px"><i class="icon-th-large"></i></a>
                        <!--<a href="javascript:void(0)" id="save-dialog-open" title="Сохранить комикс" class="btn"><i class="icon-download-alt"></i></a>-->
                        <a href="javascript:void(0)" id="canvas-remove-all" title="Удалить все слои" class="btn" data-confirm="Вы уверены что хотите удалить ВСЁ содержимое комикса?"><i class="icon-trash"></i></a>
                        <a href="javascript:void(0)" id="canvas-remove-row" title="Удалить строку" class="btn"><i class="icon-minus-sign"></i></a>
                        <a href="javascript:void(0)" id="canvas-add-row" title="Добавить строку" class="btn"><i class="icon-plus-sign"></i></a>
                    </div>
                </div>

                <!-- Checkbox template -->
                <div class="pane-control-checkboxes-template pane-control-checkboxes">
                    <input type="checkbox" name="pcb" value="" />
                </div>

                <!-- Default checkboxes -->
                <div class="pane-control-checkboxes pcctl1">
                    <input type="checkbox" name="pcb" value="" checked="true" /><!--<p>Лево</p>-->
                </div>
                <div class="pane-control-checkboxes pcc1">
                    <input type="checkbox" name="pcb" value="" checked="true" /><!--<p>Середина</p>-->
                </div>
                <div class="pane-control-checkboxes pcctr1">
                    <input type="checkbox" name="pcb" value="" checked="true" /><!--<p>Право</p>-->
                </div>
                <div class="pane-control-checkboxes pcc2">
                    <input type="checkbox" name="pcb" value="" checked="true" /><!--<p>Середина</p>-->
                </div>

                <!-- Main canvas container -->
                <div id="canvas-droppable" style="position: relative; float: left; width: 652px; overflow: hidden">

                    <!-- Text layer template -->
                    <div class="text-dragger-template" style="display: none; position: absolute; top: 0px; left: 0px; height: auto">
                        <div class="ragemaker-layer-toolbar text-dragger-tools clearfix" style="box-sizing:content-box">
                            <a href="javascript:void(0)" class="text-dragger-rotatel" title="Повернуть влево"><i class="icon-chevron-left icon-white"></i></a>
                            <a href="javascript:void(0)" class="text-dragger-rotater" title="Повернуть вправо"><i class="icon-chevron-right icon-white"></i></a>
                            <span class="layer-name"></span>
                            <a href="javascript:void(0)" class="text-dragger-close" title="Удалить слой"><i class="icon-remove icon-white"></i></a>
                        </div>
                        <div class="text-container">
                            <textarea style="height: auto; line-height: 1.2em;"></textarea>
                        </div>
                    </div>

                    <!-- Image layer template -->
                    <div class="image-dragger-template" style="display: none; position: absolute; top: 0px; left: 0px">
                        <div class="ragemaker-layer-toolbar image-dragger-tools clearfix" style="box-sizing:content-box">
                            <a href="javascript:void(0)" class="image-dragger-rotatel" title="Повернуть влево"><i class="icon-chevron-left icon-white"></i></a>
                            <a href="javascript:void(0)" class="image-dragger-rotater" title="Повернуть вправо"><i class="icon-chevron-right icon-white"></i></a>
                            <a href="javascript:void(0)" class="image-dragger-flip" title="Перевернуть горизонтально"><i class="icon-resize-horizontal icon-white"></i></a>
                            <span class="layer-name"></span>
                            <a href="javascript:void(0)" class="image-dragger-close" title="Удалить слой"><i class="icon-remove icon-white"></i></a>
                        </div>
                        <div class="image-container" style="overflow: visible"></div>
                    </div>

                    <!-- Drawing canvas layer -->
                    <div class="canvas-dragger-template" style="display: none; position: absolute; top: 0px; left: 0px">
                        <div class="ragemaker-layer-toolbar canvas-dragger-tools clearfix" style="box-sizing:content-box">
                            <a href="javascript:void(0)" class="canvas-dragger-clearcanvas" title="Очистить холст"><i class="icon-trash icon-white"></i></a>
                            <a href="javascript:void(0)" class="canvas-dragger-show-brushtools" title="Открыть настройки рисования"><i class="icon-pencil icon-white"></i></a>
                            <a href="javascript:void(0)" class="canvas-dragger-undo" title="Отменить действие"><i class="icon-repeat icon-white"></i></a>
                            <span class="layer-name"></span>
                            <a href="javascript:void(0)" class="canvas-dragger-close" title="Удалить слой"><i class="icon-remove icon-white"></i></a>
                        </div>
                        <div class="drawcanvas-container" style="overflow: visible">
                            <canvas width="200" height="200"></canvas>
                        </div>
                    </div>

                    <!-- Main Canvas -->
                    <canvas id="MyCanvas" width="650"></canvas>

                </div>
            </div>
        </div>
        <div style="margin:20px 0 30px; text-align: center;">
            <a id="save_image_locally" onclick="save()" class="btn btn-large btn-primary"><i class="icon-ok icon-white"></i> Опубликовать</a>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/template")
    @Scripts.Render("~/bundles/AddComix")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/ng-tags-input")
}


<script>
    function save() {
        document.getElementById("save_image_locally").addEventListener("click", function () {

            html2canvas(document.querySelector('#canvas-droppable')).then(function (canvas) {

                console.log(canvas);
                var a = canvas.toDataURL();
                $.ajax({
                    type: "POST",
                    traditional: true,
                    dataType: "json",
                    url: "/comix/SaveComix",
                    data: a,
                    cache: false,
                    complete: function (data) {
                    }
                });

            });
        });
    }


    function saveAs(uri, filename) {

        var link = document.createElement('a');

        if (typeof link.download === 'string') {

            link.href = uri;
            link.download = filename;

            //Firefox requires the link to be in the body
            document.body.appendChild(link);

            //simulate click
            link.click();

            //remove the link when done
            document.body.removeChild(link);

        } else {

            window.open(uri);

        }
    }

</script>